body {
  background-color: whitesmoke !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home {
  position: absolute;
  left: 500px;
}
.jobseeker {
  width: 400px;
  position: absolute;
  left: 400px;
}
.search-bar {
  width: 400px !important;
}
#show {
  width: 400px;
  height: 80px;
  background-color: lightslategray;
  color: beige;
}
